
__pycache__/
*.pyc
*.pyo

venv/
env/
ENV/

.git/
.gitignore
.svn/
.hg/

*.yml
*.yaml (si no son necesarios en el contenedor)
*.ini
*.cfg
*.conf

*.log
temp/
tmp/

*.csv
*.json (si solo son para desarrollo o pruebas)
*.xml

README.md
docs/

tests/
test/
*.spec.js
*.test.js

node_modules/
bower_components/
jspm_packages/

Dockerfile
docker-compose.yml (si no es necesario en el contenedor)

.vscode/
.idea/
*.sublime-workspace

*.env
*.example